<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Birds That Make Sounds Post</title>
    <th:block th:replace="base2 :: head"></th:block>
</head>
<body>
<th:block th:replace="base2 :: nav"></th:block>

<!-- <div class="container">

    <div class="row">

         profile 
        <div class="col-md-3">
            <div class="well">
               <p th:text="${activeUser.fullName}">full name error</p>
                <p th:text="${activeUser.userName}">username error</p>
                <p th:text="${activeUser.email}">username error</p>
                <p>
                     <th:block th:text="${activeUser.street}">street error</th:block>
                    <th:block th:text="${activeUser.city}">city error</th:block>
                    <th:block th:text="${activeUser.state}">state error</th:block>
                </p>
            </div>
            </div>
            
</div>-->
 <div class="container">
    <br /><br /><br />
    
        <form th:action="@{/post}" th:object="${post}" method="post">
    <h4>Your Post</h4>


        <div class="form-group">
            <label for="title">Post</label>
            <textarea type="text" class="form-control" id="title" placeholder="What do you want to say little birdie?"
                      th:field="*{postName}"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Post</button>
        
            </form>
	
    <table class="table table-striped">
        <tr>
            <th>Post</th>
            <th>Author</th>
            <th>Date</th>

        </tr>
        <tr th:each="row : ${posts}">
            <td th:text="${row.postName}"></td>
            <td th:text="${row.postAuthor}"></td>
            <td th:text="${row.getFormatDate()}"></td>


        </tr>
    </table>
<!-- /.container -->
</div>
<th:block th:replace="base2 :: footlinks"></th:block>
</body>
</html>